.button_cart{
  position: relative;
  padding: 0 0.5rem;
  color: #445058;
  border: 2px solid #445058;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  transition: 0.4s;
}
.button_cart:hover{
  color: inherit;
  box-shadow: 0 0 0.8rem #888888;
}

.cart_counter{
  position: absolute;
  right: -0.4rem;
  top: -0.4rem;
  padding: 0.1rem 0.2rem;
  font-size: 0.7rem;
  line-height: 0.7rem;
  min-width: 0.9rem;
  background-color: #cecece;
  border: 1px solid #445058;
  border-radius: 0.5rem;
}



.cart_window.open{
  transform: translateX(-0%);
}
.cart_window{
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);

  width: 100dvw;
  height: 100dvh;
  background-color: #686868ca;
  backdrop-filter: blur(10px);
  
  z-index: 350;
  transition: 0.4s;
}



.btn_close{
  max-width: 1.5rem;
  font-size: 1.8rem;
  transition: 0.3s;
}
.btn_close:hover{
  transform: scale(1.1);
}


.cart_list_container{
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100%;
}
.cart_list_container::-webkit-scrollbar{
  width: 0.25rem;
}
.cart_list_container::-webkit-scrollbar-track{
  background-color: transparent;
}
.cart_list_container::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.56);
  border-radius: 0.5rem;
}


.btn_buy{
  color: white;
  background-color: #39576b;
  border: 2px solid #39576b;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem 1rem;

  transition: 0.4s;
}
.btn_buy:hover{
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 0 0.8rem #445058;
}