.product_container{
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 2000px){
  .product_container{
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1310px) and (max-width: 2000px){
  .product_container{
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1055px) and (max-width: 1310px) {
  .product_container{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 800px) and (max-width: 1055px) {
  .product_container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 540px) and (max-width: 800px) {
  .product_container{
    grid-template-columns: repeat(2, 1fr);
  }
}