.card_container{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 24rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}
.card_container:hover{
  box-shadow: 0 0 1rem #445058;
}


.img_container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn_add_cart{
  padding: 0.1rem 0.9rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  color: white;
  background-color: #39576b;
  font-weight: 500;
  transition: 0.4s;
}
.btn_add_cart:hover{
  color: inherit;
  border: 2px solid #39576b;
  background-color: #cecece;
  box-shadow: 0 0 0.8rem #445058;
}