.navBar_container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  height: 3.0rem;
  width: 100%;
  box-shadow: 0 0 1rem #888888;
  background-color: #e0e0e0dc;
  backdrop-filter: blur(5px);
  z-index: 250;
}


.brand_container{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  border-bottom: 2px solid transparent;
}

.li_container{
  display: flex;
}
@media screen and (max-width: 950px){
  .navBar_container{
    justify-content: flex-end;
    padding: 0rem 0.5rem;
  }
  .brand_container,
  .li_container{
    display: none;
  }
}

.active{
  font-weight: 600;
  background-color: #bebebe;
}


.link{
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 1.2rem;

  transition: background-color 0.4s;
}
.link span{
  font-size: 0.8rem;
  font-weight: 400;
  color: #445058;
}
.link:hover{
  background-color: #ffffffe3;
}



.input_find{
  padding: 0.25rem 1rem;
  padding-right: 1.8rem;
  border-radius: 1rem;
  border: 2px solid #888888;
  outline: none;
  background-color: transparent;
  max-width: 11.2rem;

  transition: 0.4s;
}
.input_find:focus{
  background-color: #dfdfdf;
  box-shadow: 0 0 0.8rem #888888;
}

.icon_find{
  position: absolute;
  right: 0.6rem;
  color: #717171;
  height: 100%;
  flex-grow: 1;
  transition: 0.4s;
}
.input_find:focus + .icon_find{
  color: #000000;
}


.button_cart{
  padding: 0 0.5rem;
  color: #445058;
  border: 2px solid #445058;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  transition: 0.4s;
}
.button_cart:hover{
  color: inherit;
  box-shadow: 0 0 0.8rem #888888;
}

.button_login{
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  color: #cecece;
  background-color: #445058;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.4s;
}
.button_login:hover{
  color: inherit;
  border: 2px solid #445058;
  background-color: transparent;
  box-shadow: 0 0 0.8rem #888888;
}