.background{
  position: absolute;
  right: 0;
  max-height: 100%;
  overflow: hidden;
  z-index: -1;
}
@media screen and (max-width: 750px){
  .background{
    display: none;
  }
}

.option_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 17.2rem, 1fr));
  gap: 1rem;
}