.img_container{
  width: 100dvw;
  min-height: 100vh;
  position: absolute;
}

.aside_container{
  position: relative;
  width: 60dvw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
@media screen and (max-width: 950px){
  .aside_container{
    width: 100dvw;
  }
}